# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Build outputs
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# Netlify
.netlify/
